<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class=""> <!--<![endif]-->
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="/favicon.ico">
<!--<link rel="stylesheet" href="/assets/css/entry.css">-->
<link rel="stylesheet" href="/assets/css/fontello.css">
<!--[if IE 7]>
<link rel="stylesheet" href="/assets/css/fontello-ie7.css" />
<![endif]-->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Vollkorn" type="text/css">
</head>
<body>
{{ content }}
</body>
</html>
